{% extends 'backdemo.html' %}
{% block title %}
    add-article
{% endblock %}
{% block css %}
<style>
        .page{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 3px;
            padding: 2px;
            background-color: #c1e2b3;
        }
        .active{
            background-color: #761c19;
            color: white;
        }
.c1{
    margin-left: 10px;
}
    </style>
{% endblock %}
{% block content %}
     <ol class="breadcrumb">
        <li><a href="#">分页测试</a></li>
        <li class="active">分页测试</li>
    </ol>
    <div class="c1">
<ul>
    {% for row in dalist %}
        <li>第{{ row }}个东西</li>
    {% endfor %}
</ul>
<div style="margin-top: 48px">
   {{ pake_str }}
</div>
<div>
    <select id ="page_on_num" name="page_on_num" >
        {% for row in page_tag_list %}
            {% if row == page_tag %}
        <option value="{{ row }}" selected="selected">每页{{ row }}个</option>
                {% else %}
                <option value="{{ row }}">每页{{ row }}个</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div><input id="pagenumtest" type="text">
    <input type="button" value="跳转" id="pagenum" tagnum="{{ page_tag }}">
    </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $('#page_on_num').change(function () {
        var row = $(this).val();
        var urlstr = '/backend/pagelist?p=1&page_on_num='+row;
        location.href=urlstr
    });
    $("#pagenum").click(function () {
        var row = $("#pagenumtest").val();
        var tag = $("#pagenum").attr('tagnum');
        console.log(tag)
        var urlstr = '/backend/pagelist?p='+row+'&page_on_num='+tag;
        location.href=urlstr
    })
</script>
{% endblock %}